
.js .image_info .edit {
	display: none;
}
.js .image_info .view {
	display: block;
}

.no-js .image_info .edit {
	display: block;
}
.no-js .image_info .view {
	display: none;
}

table.image_info button[name="submit_action"] {
    width:49%;
}
